#clock img {
margin: auto 0;
}

#hour {
    position: absolute;
    z-index: 1;

}

#minute {
    position: absolute;
    z-index: 2;
}

#second {
    position: absolute;
    z-index: 3;
}

#clock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hands {
    margin-top:-615px;
}